@media only screen and (max-width: 1024px) {
  .main-heading {
    font-size: 3.4rem !important;
    color: whitesmoke;
  }
}

@media only screen and (max-width: 768px) {
  .main-heading {
    font-size: 3rem !important;
  }
  .hero-section .fs-4 {
    font-size: 16px !important;
  }
  .mb-cs {
    margin-bottom: 0.5rem !important;
  }
}

@media only screen and (max-width: 425px) {
  .main-heading {
    font-size: 2.5rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .pd-btn {
    padding: 0.7rem 2rem !important;
    border-radius: 1.4rem;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}
