/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --site-secondary: rgb(255, 23, 131) !important;
  --btn-hover: #212529 !important;
}

.s-d {
  background: var(--site-secondary);
  border-color: var(--site-secondary);
  color: whitesmoke;
}

.s-d {
  background: var(--site-secondary);
  border-color: var(--site-secondary);
}

.btn {
  font-weight: bold;
}

.btn:hover {
  background: var(--btn-hover) !important;
  border-color: var(--btn-hover);
  color: whitesmoke !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}
.hero-btn:hover {
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.btn:active {
  border: 2px solid rgb(73, 73, 73) !important;
}

::selection {
  background: rgb(255, 23, 131);
  color: #fff;
  font-weight: bolder;
}

.section-heading {
  /* color: var(--site-secondary); */
  font-weight: 600;
}

/*Custom Scroll bar  */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #263242;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: linear-gradient(
    rgb(59, 130, 246),
    rgb(147, 51, 234),
    rgb(255, 0, 140)
  );
}

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}
/* Custom Css section */
body {
  font-family: "Roboto", sans-serif !important;
}

.navbar {
  background: rgba(256, 256, 256, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-item a {
  transition: all 0.3s;
}

.nav-item:nth-child(7):hover a {
  background-color: #212529;
  border-color: #212529;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.nav-item:nth-child(8):hover a {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  background-color: var(--btn-hover);
}

.hero-section {
  margin-top: 68px;
}

.carousel-item {
  height: calc(100vh - 68px);
  object-fit: cover;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  display: grid !important;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: static;
}

.bg-1 {
  background: linear-gradient(
      317deg,
      rgba(29, 64, 225, 0.6),
      rgba(235, 0, 235, 0.6)
    ),
    url(./images/marvin-meyer.jpg) no-repeat center center/cover !important;
}

.bg-2 {
  background: linear-gradient(
      317deg,
      rgba(218, 29, 225, 0.6),
      rgba(235, 0, 0, 0.6)
    ),
    url(./images/pexels-anna-nekrashevich.jpg) no-repeat center center / cover;
}

.bg-3 {
  background: linear-gradient(
      317deg,
      rgba(29, 225, 225, 0.6),
      rgba(0, 235, 39, 0.6)
    ),
    url(./images/pexels-canva-studio.jpg) no-repeat center center / cover;
}

.bg-4 {
  background: linear-gradient(
      317deg,
      rgba(182, 225, 29, 0.6),
      rgba(235, 0, 0, 0.6)
    ),
    url(./images/pexels-lukas.jpg) no-repeat center center / cover;
}

.main-heading {
  font-size: 4rem !important;
  color: whitesmoke;
}
