/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --site-secondary: rgb(255, 23, 131) !important;
  --btn-hover: #212529 !important;
}
body {
  overflow-x: hidden;
}
.b-class-secondary {
  color: var(--site-secondary);
}
.s-d {
  background: var(--site-secondary);
  border-color: var(--site-secondary);
  color: whitesmoke;
}

.s-d {
  background: var(--site-secondary);
  border-color: var(--site-secondary);
}

.btn {
  font-weight: bold;
}

.btn:hover {
  background: var(--btn-hover) !important;
  border-color: var(--btn-hover);
  color: whitesmoke !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4) !important;
}
.hero-btn:hover {
  color: #212529 !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
.btn:active {
  border: 2px solid rgb(73, 73, 73) !important;
}

::selection {
  background: rgb(255, 23, 131);
  color: #fff;
  font-weight: bolder;
}

.section-heading {
  /* color: var(--site-secondary); */
  font-weight: 600;
}

/*Custom Scroll bar  */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* background: #263242; */
  /* background: #e2e2e2; */
  background: rgb(172, 172, 172);
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: linear-gradient(
    rgb(59, 130, 246),
    rgb(147, 51, 234),
    rgb(255, 0, 140)
  );
}

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333333;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}
/* Custom Css section */
body {
  font-family: "Roboto", sans-serif !important;
}

.navbar {
  background: rgba(256, 256, 256, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-item a {
  transition: all 0.3s;
}

.nav-item:nth-child(7):hover a {
  background-color: #212529;
  border-color: #212529;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.nav-item:nth-child(8):hover a {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  background-color: var(--btn-hover);
}

.hero-section {
  margin-top: 68px;
}

.carousel-item {
  height: calc(100vh - 68px);
  object-fit: cover;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  display: grid !important;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: static;
}

.bg-1 {
  background: linear-gradient(
      317deg,
      rgba(29, 64, 225, 0.6),
      rgba(235, 0, 235, 0.6)
    ),
    url(./images/marvin-meyer.jpg) no-repeat center center/cover !important;
}

.bg-2 {
  background: linear-gradient(
      317deg,
      rgba(218, 29, 225, 0.6),
      rgba(235, 0, 0, 0.6)
    ),
    url(./images/pexels-anna-nekrashevich.jpg) no-repeat center center / cover;
}

.bg-3 {
  background: linear-gradient(
      317deg,
      rgba(29, 225, 225, 0.6),
      rgba(0, 235, 39, 0.6)
    ),
    url(./images/pexels-canva-studio.jpg) no-repeat center center / cover;
}

.bg-4 {
  background: linear-gradient(
      317deg,
      rgba(182, 225, 29, 0.6),
      rgba(235, 0, 0, 0.6)
    ),
    url(./images/pexels-lukas.jpg) no-repeat center center / cover;
}

.main-heading {
  font-size: 4rem !important;
  color: whitesmoke;
}
#scrollspyAbout {
  background-color: #f5f5f5;
}
/* Counter section */
.counter-sec {
  padding: 5rem 0 3.8rem 0;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fa-solid,
.card .card-statistic-3 .card-icon-large .fal {
  font-size: 80px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -8%;
  top: -8%;
  opacity: 0.1;
  transition: all 0.4s;
}
.card:hover .card-statistic-3 .card-icon {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

/*Advertisers SERVICE SECTION */
.advertisers-service-sec {
  background-color: #f5f5f5;
}
.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}
.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}
.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#0dcaf0, var(--site-secondary));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}
.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}
.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}
.service-card .icon-wrapper {
  background-color: #ffffff;
  color: var(--site-secondary);
}
.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: #0dcaf0;
}
.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}
.advertisers-service-sec .service-card:hover p {
  color: #f0f0f0;
}

/* PERTNER'S LOGO */
.work-with .slide {
  justify-content: center;
  display: grid;
}

.work-with .slide img {
  width: 10rem;
  filter: blur(2px) grayscale();
  cursor: pointer;
  transition: all 0.3s;
}

.work-with .slide:hover img {
  width: 10rem;
  filter: none;
}
.work-with .work-title {
  background-color: var(--site-secondary);
  color: #fff;
}

/*PUBLISHERS SERVICE SECTION */
.publishers-service-sec {
  background-color: #f5f5f5;
}

.publishers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.publishers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.publishers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#0d6efd, var(--site-secondary));
  position: absolute;
  left: 0%;
  bottom: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.publishers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.publishers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.publishers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.publishers-service-sec .service-card:hover:after {
  bottom: 0%;
}

.publishers-service-sec .service-card .icon-wrapper {
  background-color: #ffffff;
  color: #0d6efd;
}

.publishers-service-sec .service-card:hover .icon-wrapper {
  color: var(--site-secondary);
}

.publishers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.publishers-service-sec .service-card:hover p {
  color: #f0f0f0;
}

/* Team Card  */
/*Profile Card 3*/
.team-card {
  /* width: 100%; */
  overflow: hidden;
  text-align: center;
  height: 350px;
  border: none;
  cursor: pointer;
}
.team-card .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.team-card .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-filter: hue-rotate(245deg) blur(0.2px);
  filter: hue-rotate(245deg) blur(0.2px);
  transition: all 0.3s;
  height: 100%;
}
.team-card .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 90;
}
.team-card .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}
.team-card:hover .background-block .background {
  -webkit-filter: hue-rotate(0deg) blur(0.2px);
  filter: hue-rotate(0deg) blur(0.2px);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/* .team-card:hover .card-content::before {
  width: 120%;
  height: 300%;
  transform: rotate(100deg);
} */
.team-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 91;
}

.team-card h3 {
  margin: 0 0 5px;
  font-weight: 600;
  text-align: center;
  font-size: 22px !important;
  transition: all 0.3;
  color: #0d6efd;
}

.team-card:hover h3 {
  color: var(--site-secondary);
}

.team-card h3 small {
  display: block !important;
  font-size: 15px !important;
  margin-top: 10px !important;
  color: #232323;
}
.team-card i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.team-card .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.team-card .icon-block a {
  text-decoration: none;
}
.team-card i:hover {
  /* background-color: #232323; */
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
  text-decoration: none;
}

.team-card:hover {
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4) !important;
}
